


li {
  list-style-type: none;

}
li:before {
margin-left: -20px;
margin-right: 10px;
}
li.cross:before{
  content: '\274C';
}
li.check:before{
  content:'\2705';
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* vertical-align: center; */
  margin-left: 15%;
}

code a {
  color: #cfd1d1;
  text-decoration: none;
}